body {
    margin: 0;
    padding: 0;
    background-color: #F0F3F7;
    box-sizing: border-box;
    min-height:100vh;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
span,
label {
    display: inline-block;
}

.ipad_container {
    max-width:834px;
    margin: 0 auto;
    width:100%;
    padding: 0 60px;
    box-sizing: border-box;
}

.header {
    padding-top: 32px;
}

.custom_blue_btn {
    background: #003C79;
    border:none;
    margin: 0;
    padding: 0;
    text-align: center;
    height:52px;
    font-size: 16px;
    font-weight: 600;
    color:#fff; 
    width:240px;
    border-radius: 8px;
    cursor: pointer;
}

.checkin_btn_image_wrap {
    padding: 88px 92px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-width:714px;
    width:100%;
}

.checkin_btn_wrap {
    margin-top: 70px;
    text-align: center;
}

.main_section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.consignment_input {
    background-color: #F0F3F7;
    height:88px;
    width:64px;
    border-radius: 4px;
    margin: 0 8px;
    border:0;
    font-size: 20px;
    color: #1F2B37;
    text-align: center;
}

.consignment_input:focus,
.consignment_input:active {
    outline:none;
}

.consignment_input_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_disabled {
    background: #F0F5FA;
    border:none;
    margin: 0;
    padding: 0;
    text-align: center;
    height:52px;
    font-size: 16px;
    font-weight: 600;
    color:#687684; 
    width:240px;
    border-radius: 8px;
    cursor: pointer;
    pointer-events:none;
}

.form_header {
    font-size: 24px;
    font-weight: 700;
    color: #1F2B37;
}

.green_tick_wrap {
    text-align: center;
}

.custom_blue_border_white_btn {
    background: #fff;
    border:none;
    margin: 0;
    padding: 0;
    text-align: center;
    height:52px;
    font-size: 16px;
    font-weight: 600;
    color:#003C79; 
    width:240px;
    border-radius: 8px;
    cursor: pointer;
    pointer-events:none;
    border:1px solid #003C79;
}

.confirmed_header {
    font-size: 40px;
    text-align: center;
    color: #1F2B37;
}

.confirmed_sub_header {
    font-size: 20px;
    text-align: center;
}

.confirmed_header {
    font-size: 40px;
    text-align: center;
    color: #1F2B37;
    margin-bottom: 32px;
    margin-top: 40px;
}

.confirmed_sub_header {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
}

.confirmed_table {
    width: 100%;
}

.confirmed_table tr:nth-child(1) td {
        font-size: 20px;
        color: #1F2B37;
        font-weight: 700;
        padding-bottom: 20px;
}

.confirmed_table p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #1F2B37;
    margin-bottom: 25px;
    margin-top: 4px;
}
.confirmed_table label {
    color:#687684;
    font-size: 16px;
    font-weight: 600;
}

.confirmed_button_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.confirmed_complete_sub_header {
    margin-bottom: 0;
}
