body {
    margin: 0;
    padding: 0;
    background-color: #F0F3F7;
    box-sizing: border-box;
    min-height:100vh;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
span,
label {
    display: inline-block;
}

.ipad_container {
    max-width:834px;
    margin: 0 auto;
    width:100%;
    padding: 0 60px;
    box-sizing: border-box;
}

.header {
    padding-top: 32px;
}

.custom_blue_btn {
    background: #003C79;
    border:none;
    margin: 0;
    padding: 0;
    text-align: center;
    height:52px;
    font-size: 16px;
    font-weight: 600;
    color:#fff; 
    width:240px;
    border-radius: 8px;
    cursor: pointer;
    line-height: 52px;
    text-decoration: none;
}

.checkin_btn_image_wrap {
    padding: 88px 92px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-width:714px;
    width:100%;
    margin: 0 auto;
}

.checkin_btn_wrap {
    margin-top: 70px;
    text-align: center;
}

.main_section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.consignment_input {
    background-color: #F0F3F7;
    height:88px;
    width:64px;
    border-radius: 4px;
    margin: 0 8px;
    border:0;
    font-size: 20px;
    color: #1F2B37;
    text-align: center;
}

.consignment_input:focus,
.consignment_input:active {
    outline:none;
}

.consignment_input_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

button[disabled] {
    background: #F0F5FA;
    border:none;
    margin: 0;
    padding: 0;
    text-align: center;
    height:52px;
    font-size: 16px;
    font-weight: 600;
    color:#687684; 
    width:240px;
    border-radius: 8px;
    cursor: pointer;
    pointer-events:none;
    line-height: 52px;
    text-decoration: none;
}

.form_header {
    font-size: 24px;
    font-weight: 700;
    color: #1F2B37;
}

.green_tick_wrap {
    text-align: center;
}

.custom_blue_border_white_btn {
    background: #fff;
    border:none;
    margin: 0;
    padding: 0;
    text-align: center;
    height:52px;
    font-size: 16px;
    font-weight: 600;
    color:#003C79; 
    width:240px;
    border-radius: 8px;
    cursor: pointer;
    border:1px solid #003C79;
    line-height: 52px;
    text-decoration: none;
}

.confirmed_header {
    font-size: 40px;
    text-align: center;
    color: #1F2B37;
}

.confirmed_sub_header {
    font-size: 20px;
    text-align: center;
}

.confirmed_header {
    font-size: 40px;
    text-align: center;
    color: #1F2B37;
    margin-bottom: 32px;
    margin-top: 40px;
}

.confirmed_sub_header {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
}

.confirmed_table {
    width: 100%;
}

.confirmed_table tr:nth-child(1) td {
        font-size: 20px;
        color: #1F2B37;
        font-weight: 700;
        padding-bottom: 20px;
}

.confirmed_table p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #1F2B37;
    margin-bottom: 25px;
    margin-top: 4px;
}
.confirmed_table label {
    color:#687684;
    font-size: 16px;
    font-weight: 600;
}

.confirmed_button_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.confirmed_complete_sub_header {
    margin-bottom: 0;
}

.confirm {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.checkin_btn_image_wrap img {
    max-width: 250px;
    width: 100%;
}

.try_header {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
}

.try-again {
    color: #000;
    text-align: center;
    font-size: 17px;
}

div.checkin_btn_wrap_failed {
    margin-top: 50px;
    text-align: center;
}

.video_container {
    min-height:calc(100vh - 110px);
    position: relative;
    overflow: hidden;
}

.face_video {
    position: absolute;
    height:105%;
    width:105%;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}







@media(min-width:992px){


    .checkin_btn_image_wrap {
        padding: 30px 30px;
        max-width: 582px;
    }

    .consignment_input {
        height: 60px;
        width: 40px;
        margin: 0 4px;
        font-size: 16px;
    }

    .form_header {
        font-size: 21px;
        margin-top: 27px;
    }

    img.green-tick-image {
        max-width: 95px;
    }

    .confirmed_header {
        font-size: 32px;
        margin-bottom: 32px;
        margin-top: 25px;
    }

    .ipad_container {
        max-width: 595px;
    }
}


@media(max-width:767px) {
    
    .custom_blue_btn {
        height: 38px;
        font-size: 14px;
        width: 156px;
        line-height: 38px;
    }

    button[disabled] {
        height: 38px;
        font-size: 14px;
        width: 156px; 
        line-height: 38px;
    }

    .custom_blue_border_white_btn {
        height:38px;
        font-size: 14px;
        width:156px;
        line-height: 38px;
    }

    .checkin_btn_image_wrap {
        padding: 30px 30px;
    }

    .confirmed_button_wrap {
        justify-content: center;
        gap: 15px;
    }

    .confirmed_header {
        font-size: 29px;
    }

    .confirmed_sub_header {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .confirmed_table tr:nth-child(1) td {
        font-size: 15px;
    }

    .confirmed_table label {
        font-size: 14px;
    }

    .confirmed_table p {
        font-size: 14px;
    }

    .confirmed_table td {
        padding-right: 10px;
    }

    .ipad_container {
        padding: 0 15px;
    }

    img.green-tick-image {
        max-width: 66px;
    }

    .confirmed_header {
        margin-top: 25px;
    }

    .logo img {
        max-width: 100px;
    }

    .consignment_input {
        height: 60px;
        width: 40px;
        margin: 0 4px;
        font-size: 16px;
    }

    .form_header {
        font-size: 21px;
        margin-top: 18px;
        text-align: center;
    }


 
}









